header{
    text-align:center;
}
.card{
    width: 80%;
    margin:auto;
    border: 2px solid red;
}
.card > h2{
    text-align:center;
}
.card > button{
    position: relative;
    left:45%;
    margin:auto;
    background-color: red;
    transition: background-color 0.3s;
}
button:hover{
    background-color: green;
}
p:first-child(2){
    color:red;
}
@media (max-width: 768px){
    .card {width:100%;
    margin-bottom: 2rem;
    }
}